<!-- main nav bar and header -->
<header>
    <nav class="navbar navbar-default" id="clipped">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
						<img alt="Brand" src="GTLogo.png">
					</a>
            </div>
        </div>
    </nav>
</header>

<!-- begin main body -->

<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>

        <!-- begin tournament creation form -->

        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Two's company...We need a crowd!</h3>
                </div>
                <form>
                    <div class="form-group">

                        <div class="panel-body">
                            <label for="location">Please enter your city.</label>
                            <input id="city" type="text" name="city">
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<div class="col-xs-2"></div>
</div>
</div>