<!-- main nav bar and header -->
<header>
    <nav class="navbar navbar-default" id="clipped">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
						<img alt="Brand" src="../assets/img/GTLogo.png">
					</a>
            </div>
        </div>
    </nav>
</header>

<!-- begin main body -->

<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>

        <!-- begin tournament creation form -->

        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Input your user information:</h3>
                </div>
                <form>
                    <div class="form-group">

                        <div class="panel-body">
                            <label for="first_name">First Name:</label>
                            <input id="first_name" type="text" name="first_name">
                            <br>
                            <label for="last_name">Last Name:</label>
                            <input id="last_name" type="text" name="last_name">
                            <br>
                            <label for="email">E-Mail:</label>
                            <input id="email" type="text" name="email">
                            <br>
                            <label for="username">Username:</label>
                            <input id="username" type="text" name="username">
                            <br>
                            <label for="password">Password:</label>
                            <input id="password" type="text" name="password">
                            <br>
                            <label for="consoles">Consoles:</label>
                            <input id="consoles" type="text" name="consoles">
                            <br>
                            <label for="zipcode">Zipcode:</label>
                            <input id="zipcode" type="text" name="zipcode">
                            <br>
                            <button type="submit">SUBMIT</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<div class="col-xs-2"></div>
</div>
</div>