	  <link rel="stylesheet" type="text/css" href="../../assets/css/tourney.css">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
<body><!-- main nav bar and header -->
	<header id="clipped">	
		<nav class="navbar">
		<div id="navbox"><img id="useavatar" src="http://images.goodsmile.info/cgm/images/product/20160927/5981/41608/large/283820e0d12a55d17e3a0f1b855090d0.jpg"><p class="tourneyP" style="color:white">GamerTag</p>
		</div>
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="../assets/img/GTLogo.png">
					</a>
				</div>
			</div>
		</nav>
	</header>

	<!-- begin main body -->

	<div class="container">
		<div class="row">
			<div class="col-xs-2"></div>

			<!-- begin tournament creation form -->

			<div class="col-xs-12">
				<div class="panel panel-default trans">
					<div class="panel-heading stgbrd"><h3><strong>Create Your Tournament!</strong></h3></div>
					<form>
						<div class="form-group">

							<div class="panel-body">
								<div class="table">
									<div class="inputs">
										<label for="location">Tournament City.</label>
										<input id="city" type="text" name="city">
									</div>
									<div class="inputs">
										<label for="tourneyname">Tournament Name.</label>
										<input id="tourneyname" type="text" name="tourneyname">
									</div>
									<div class="inputs">
										<label for="admin">Tournament Admin(GamerTag)</label>
										<input id="admin" type="text" name="admin">
									</div>
								</div>
								<div class="table">
									<div class="inputs">
										<label for="password">Admin Password</label>
										<input id="password" type="text" name="password">
									</div><br>
									<div class="inputs">
										<label for="genre">Genre of game?</label>
										<input id="genre" type="text" name="genre">
									</div>
									<div class="inputs">
										<label for="startdate">Start date of Tournament</label>
										<input id="startdate" type="text" name="startdate">
									</div>
								</div>
								<div class="table">
									<div class="inputs">
										<label for="enddate">End date of Tournament?</label>
										<input id="enddate" type="text" name="enddate">
									</div>
									<div class="inputs">
										<label for="cutoff">Date to end enrollments</label>
										<input id="cutoff" type="text" name="cutoff">
									</div>
									<div class="inputs">
										<label for="gameArt">Paste an image of your game</label>
										<input id="gameArt" type="text" name="gameart">
									</div>
								</div>
							</div>
							<input type="submit" value="submit">
						</div>
					</form>
				</div>
			</div>
		</div>


	</div>
	<div class="col-xs-2"></div>
</div>
</div>
</body>