<div id="body">
	<header id="clipped">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a id="GTlogo" class="navbar-brand" href="#">
						<img alt="Brand" src="../assets/img/GTLogo.png">
					</a>
				</div>
				<div>
					<form class="navbar-form navbar-right" role="search">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<!-- upright profile name and avatar -->
	<div id="profile-cont" class="tagged">
		<div class="row">
			<div class="col-xs-12">
				<h3>Shad0wArcher73</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6"></div>
			<div class="col-xs-6">
				<img id="avatar" src="../assets/img/shadowArcher.jpg">
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4"></div>
			<div id="content" class="col-xs-8">
				<div class="row">
					<div id="spacer" class="col-xs-12"></div>
				</div>
				
				<div class="row">
					<div id="text" class="col-xs-12">
						<ul class="nav nav-tabs">
							<li role="presentation"><a href="/tourney_list"><h4>My tournaments</h4></a></li>
							<li role="presentation"><a href="/embed"><h4>Embed video</h4></a></li>
                            <li role="presentation"><a href="/createtourn"><h4>Create Tournament</h4></a></li>
						</ul>

						<p id="watchlist">
							Chuck Norris is the reason why Waldo is hiding. 

							Contrary to popular belief, Chuck Norris, not the box jellyfish of northern Australia, is the most venomous creature on earth Chuck Norris once roundhouse kicked someone so hard that his foot broke the speed of light, went back in time, and killed Amelia Earhart while she was flying over the Pacific Ocean Chuck Norris uses pepper spray to spice up his steaks Chuck Norris went to Harvard, Yale, MIT, Oxford, and Princeton at the same time Chuck Norris is my Homeboy, Most people have 23 pairs of chromosomes. Chuck Norris has 72... and they're all poisonous, Contrary to popular belief, America is not a democracy, it is a Chucktatorship. Chuck Norris is Chuck Norris. , Chuck Norris invented Kentucky Fried Chicken's famous secret recipe, with eleven herbs and spices. But nobody ever mentions the twelfth ingredient: Fear. 

							Chuck Norris is ten feet tall, weighs two-tons, breathes fire, and could eat a hammer and take a shotgun blast standing, Chuck Norris is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs. Back in the 1980s, Chuck Norris killed 60 people in front of Matlock. Needless to say, the case never went to trial Chuck Norris drives an ice cream truck covered in human skulls. Chuck Norris doesn't wear a watch. HE decides what time it is Chuck Norris drives an ice cream truck covered in human skulls, Chuck Norris doesn't have feet, just another pair of fists, Chuck Norris is ten feet tall, weighs two-tons, breathes fire, and could eat a hammer and take a shotgun blast standing, A Handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there, There is no chin behind Chuck Norris' beard. There is only another fist. Chuck Norris drives an ice cream truck covered in human skulls Fool me once, shame on you. Fool Chuck Norris once and he will roundhouse you in the face Remember the Soviet Union? They decided to quit after watching a DeltaForce marathon on Satellite TV. 

							Chuck Norris is the reason why Waldo is hiding When Chuck Norris' Teacher asked where his homework was, Chuck said HE ate it, Near the end of a fight, Chuck Norris decided to throw in the towel. The towel was so forceful, the opponent was knocked out When Chuck Norris sends in his taxes, he sends blank forms and includes only a picture of himself, crouched and ready to attack. Chuck Norris has not had to pay taxes, ever.

						</p>
						<p id="tournaments">
							Chuck Norris counted to infinity - twice, Chuck Norris can win a game of Connect Four in only three moves, Chuck Norris doesn't read books. He stares them down until he gets the information he wants Chuck Norris counted to infinity - twice, There is no theory of evolution. Just a list of animals Chuck Norris allows to live. Outer space exists because it's afraid to be on the same planet with Chuck Norris. Chuck Norris doesn't wear a watch. HE decides what time it is There is no theory of evolution. Just a list of animals Chuck Norris allows to live. Chuck Norris originally appeared in the "Street Fighter II" video game, but was removed by Beta Testers because every button caused him to do a roundhouse kick. When asked bout this "glitch," Norris replied, "That's no glitch." Chuck Norris uses pepper spray to spice up his steaks When Chuck Norris sends in his taxes, he sends blank forms and includes only a picture of himself, crouched and ready to attack. Chuck Norris has not had to pay taxes, ever. There is no theory of evolution. Just a list of creatures Chuck Norris has allowed to live. The chief export of Chuck Norris is Pain Chuck Norris drives an ice cream truck covered in human skulls Chuck Norris tells Siri where to go. 

							Chuck Norris drives an ice cream truck covered in human skulls, Someone once videotaped Chuck Norris getting pissed off. It was called Walker: Texas Chain Saw Massacre. Chuck Norris counted to infinity - twice, Doctors have found a cure for cancer...too bad you can't eat Chuck Norris, Chuck Norris doesn't lock the door on his house, cuz nobody dares to rob him Guns don't kill people. Chuck Norris kills people. Chuck Norris out-negotiated William Shatner Chuck Norris' hand is the only hand that can beat a Royal Flush. Chuck Norris can shoot a sword Remember the Soviet Union? They decided to quit after watching a DeltaForce marathon on Satellite TV, Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie down When the Boogeyman goes to sleep every night, he checks his closet for Chuck Norris. Chuck Norris drives an ice cream truck covered in human skulls. 
						</p>
						<p id="favorites">
							Chuck Norris' beard has it's own Social Security number Money doesn't make the world go round, Chuck Norris does. phisically. Most people have 23 pairs of chromosomes. Chuck Norris has 72... and they're all poisonous Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie down Fast food is slow by Chuck Norris' standards, Contrary to popular belief, America is not a democracy, it is a Chucktatorship. A Handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there. There is no theory of evolution. Just a list of animals Chuck Norris allows to live Contrary to popular belief, America is not a democracy, it is a Chucktatorship, Matches are warned not to play with Chuck Norris. 

							Contrary to popular belief, America is not a democracy, it is a Chucktatorship. Chuck Norris doesn't churn butter. He roundhouse kicks the cows and the butter comes straight out. When Chuck Norris was a baby, he sucked on a pacifier and made it cry. Chuck Norris doesn't read books. He stares them down until he gets the information he wants When Chuck Norris sends in his taxes, he sends blank forms and includes only a picture of himself, crouched and ready to attack. Chuck Norris has not had to pay taxes, ever Remember the Soviet Union? They decided to quit after watching a DeltaForce marathon on Satellite TV Chuck Norris doesn't go hunting... CHUCK NORRIS GOES KILLING, Police label anyone attacking Chuck Norris as a Code 45-11... a suicide. There is no theory of evolution. Just a list of animals Chuck Norris allows to live, When Chuck Norris does a pushup, he isn't lifting himself up, he's pushing the Earth down. When somebody yells "Last one in is a rotten egg," Chuck Norris is never the rotten egg, Someone once videotaped Chuck Norris getting pissed off. It was called Walker: Texas Chain Saw Massacre. The leading causes of death in the United States are: 1. Heart Disease 2. Chuck Norris 3. Cancer, When Chuck Norris is as old as dirt, he will be the salt of the earth. Chuck Norris can believe his eyes if 10 million fireflies lit up the world as he fell asleep. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
