<header id="clipped">
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="../assets/img/GTLogo.png">
				</a>
			</div>
		</div>
	</nav>
</header>

<body>

	<div class="container">
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="panel panel-default">
					<div class="panel-heading" id="gTag">
						<h3>Lets get started! Please create an account.</h3>
					</div>
					<form id="newUserForm">
						<div class="form-group">

							<div class="panel-body">
								<label for="first_name">First Name</label>
								<input type="text" name="first_name" id="first_name">
							</div>

							<div class="panel-body">
								<label for="last_name">Last Name</label>
								<input type="text" name="last_name" id="last_name">
							</div>

							<div class="panel-body">
								<label for="email">Email</label>
								<input type="text" name="email" id="email">
							</div>

							<div class="panel-body">
								<label for="email-confirmation">Please confirm email</label>
								<input type="text" name="email-confirmation" id="email-confirmation">
							</div>

							<div class="panel-body">
								<label for="gamer-tag">GamerTag</label>
								<input type="text" name="gamer-tag" id="username">
							</div>

							<div class="panel-body">
								<label for="password">Please create a password</label>
								<input type="password" name="psw" id="password">
							</div>

							<div class="panel-body">
								<div class="form-check">
									<label for="consoles">Please check the consoles that you play on.</label>
									<ul>
										<li>
											<input type="checkbox" id="Xbox" name="Xbox" value="true">Xbox 1
										</li>
										<li>
											<input type="checkbox" id="PS4" name="PS4" value="true">PS4
										</li>
										<li>
											<input type="checkbox" id="Switch" name="Nintendo Switch" value="true">Nintendo Switch
										</li>
										<li>
											<input type="checkbox" id="3DS" name="Nintendo 3DS" value="true">Nintendo 3DS
										</li>
										<li>
											<input type="checkbox" id="Wii" name="Wii U" value="true">Nintendo Wii U
										</li>
										<li>
											<input type="checkbox" id="PC" name="PC" value="true">PC
										</li>
									</ul>
								</div>
							</div>

							<div class="panel-body">
								<div class="form-check">
									<label class="form-check-label" for="genres">Please select the game genres that you most enjoy playing</label>
									<ul>
										<li>
											<input class="form-check-input" type="checkbox" value="true" name="action">Action
										</li>
										<li>
											<input class="form-check-input" type="checkbox" value="true" name="act-adv">Action/adventure
										</li>
										<li>
											<input class="form-check-input" type="checkbox" value="true" name="adventure">Adventure
										</li>
										<li>
											<input class="form-check-input" type="checkbox" value="true" name="rpg">RPG
										</li>
										<li>
											<input class="form-check-input" type="checkbox" value="true" name="sim">Simulator
										</li>
										<li>
											<input class="form-check-input" type="checkbox" value="true" name="sports">Sports
										</li>
									</ul>
								</div>
								<label for="fav-games">Please list your three favorite games.</label>
								<div class="form-group-row">
									<div class="col-xs-12, favs">
										<input id="fav1" type="text" name="fav1">
									</div>
								</div>
								<div class="form-group-row">
									<div class="col-xs-12, favs">
										<input id="fav2" type="text" name="fav2">
									</div>
								</div>
								<div class="form-group-row">
									<div class="col-xs-12, favs">
										<input id="fav3" type="text" name="fav3">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group-row">
							<button type="submit" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-hdd"></span><a href="/profile"> Sign me up!<a/></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {

			var userForm = $("#newUserForm");

			$(document).on("submit", "#newUserForm", handleFormSubmit)
			var newPost;
			var ninSwitch, ps4, xbox1, nin3ds, ninwu, pc = false;

			function handleFormSubmit(event) {
				event.preventDefault();
				var firstName = $("#first_name").val().trim();
				var lastName = $("#last_name").val().trim();
				var email = $("#email").val().trim();
				var username = $("#username").val().trim();
				var password = $("#password").val().trim();
				// var genres = [];
				// var consoles=[];
				var fav1 = $("#fav1").val().trim();
				var fav2 = $("#fav2").val().trim();
				var fav3 = $("#fav3").val().trim();
				if ($('#Switch').is(":checked")) {
					// it is checked
					ninSwitch = $("#Switch").val().trim();
				}
				if ($('#PS4').is(":checked")) {
					// it is checked
					ps4 = $("#PS4").val().trim();
				}
				if ($('#Xbox').is(":checked")) {
					// it is checked
					xbox1 = $("#Xbox").val().trim();
				}
				if ($('#3DS').is(":checked")) {
					// it is checked
					nin3ds = $("#3DS").val().trim();
				}
				if ($('#Wii').is(":checked")) {
					ninwu = $("#Wii").val().trim();
				}
				if ($('#PC').is(":checked")) {
					pc = $("#PC").val().trim();
				}
				console.log(ninSwitch);
				console.log(ps4);
				console.log(xbox1);
				console.log(nin3ds);
				console.log(ninwu);
				console.log(pc);




				var newPost = {
					first_name: firstName,
					last_name: lastName,
					email: email,
					username: username,
					password: password,
					ninSwitch: ninSwitch,
					ps4: ps4,
					xbox1: xbox1,
					nin3ds: nin3ds,
					ninwu: ninwu,
					pc: pc,
					// genres: genres,
					FavGame1: fav1,
					FavGame2: fav2,
					FavGame3: fav3
					// consoles: consoles

				};
				submitPost(newPost);
			}

			function submitPost(post) {
				$.post("/api/users", post, function () {
					console.log(post);

				})
			}

		});
	</script>