<body id="tourney">
	<header id="clipped1">
		<nav class="navbar">
			<div id="navbox">
				<div class="table">
					<div class="inputs">
						<p id="tourneyName" class="tourneyP">Tournament BLANK Grounds</p>
					</div>
					<div class="inputs">
						<p class="tourneyP">Username</p>
						<a href="/profile"><p class="tourneyP">Profile</p></a>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
							<a href="/"><img alt="Brand" src="../assets/img/GTLogo.png"></a>
						</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="row">

		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 stgbrd">
					<p id="vs" class="tourneyP">BLANK vs. BLANK</p>
				</div>
			</div><br>
			<div id="players" class="col-md-12 stgbrd">
				<p class="tourneyP">PLAYER VIDEOS</p>
			</div>
			<div class="container1">
				<div class="row">
					<div class="embed-container"></div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row stgbrd">
				<p class="tourneyP">Chat</p>
				<p class="tourneyP" id="msgs">
					<iframe src="http://deadsimplechat.com/+O2VEw" frameborder="0" width="1300px" height="300px"></iframe>
				</p>
			</div>
		</div>
	</div>
	</div>
	<script>
		$(document).ready(function () {
			// Getting a reference to the input field where user adds a new todo
			var newItemInput = $("input.new-item");
			// Our new todos will go inside the todoContainer
			var embedContainer = $(".embed-container");


			// Our initial todos array
			var user_embeds;

			// Getting todos from database when page loads
			getEmbed();

			// This function resets the todos displayed with new todos from the database
			function initializeRows() {
				embedContainer.empty();
				var rowsToAdd = [];
				for (var i = 0; i < user_embeds.length; i++) {
					rowsToAdd.push(createNewRow(user_embeds[i]));
				}
				embedContainer.prepend(rowsToAdd);
			}

			// This function grabs todos from the database and updates the view
			function getEmbed() {
				$.get("/api/users", function (data) {
					user_embeds = data;
					console.log(user_embeds);
					initializeRows();
				});
			}

			// This function constructs a todo-item row
			function createNewRow(embeds) {
				var newInputRow = $("<div>");
				newInputRow.addClass("list-group-item tourn-item align-center");
				newInputRow.text(" - " + embeds.username + " - ");
				var newEmbedIframe = $(embeds.embed);
				newInputRow.append(newEmbedIframe);
				return newInputRow;
			}

		});
	</script>
</body>