<body id="tourney">
	<header id="clipped1">
		<nav class="navbar">
			<div id="navbox"><p class="tourneyP">Username</p>
				<p class="tourneyP">Admin</p>
			</div>
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="../assets/img/GTLogo.png">
					</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="container1">
		<div class="row">
			<div class="col-md-12 stgbrd"><p id="tourneyName" class="tourneyP">TOURNAMENT 'BLANK' GROUNDS<p></div><br><br>
		</div>
		<div class="row">
			<div class="col-md-2 stgbrd">
				<p class="tourneyP">GAME ART</p>
				<img id="gameart" src="https://res.cloudinary.com/lmn/image/upload/fl_lossy,q_80/f_auto/v1/gameskinny/c74b44af935aa50c05f0e1f3bc66e385.jpg">
				<p class="tourneyP" id="users">USERS IN ROOM</p>
			</div>

			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12 stgbrd"><p id="vs" class="tourneyP">BLANK vs. BLANK</p></div>
				</div><br>
				<div id="players" class="col-md-12 stgbrd"><p class="tourneyP">PLAYER VIDEOS</p></div>
			</div>

			<div class="col-md-2">
				<div class="row stgbrd">
					<p class="tourneyP">Chat</p>
					<p class="tourneyP" id="msgs">Messages Messages</p>

				</div>
			</div>

		</div>
	</div>
</body>