
#clipped{
			/*-webkit-clip-path: polygon(100% 0, 100% 33%, 60% 19%, 25% 29%, 0 20%, 0% 0%);*/
			clip-path: polygon(100% 0, 100% 150pt, 52% 75pt, 0 180pt, 0 0);
			background-color: rgb(255, 128, 0);
			height: 250px;
			padding-bottom: 0;
		}

		body {
			background-color: black;
		}